/* --------------------- */
/* OS (Light / Day) Mode */
/* --------------------- */
@media (prefers-color-scheme: light) {
  :root {
      color-scheme: light;
  }

  body {
      color: #fff;
      background-color: #fff;
  }

  .active-theme::after {
      content: "Light / Day ☀️";
  }
}


/* ---------------------- */
/* OS (Dark / Night) Mode */
/* ---------------------- */
@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: dark;
  }

  body {
      color: #000;
      background-color: #000;
  }

  .active-theme::after {
      content: "Dark / Night 🌙";
  }
}